---
- debug: msg="PROCESSING CLOUD {{ item_cloud }}"
- include: create_per_cloud_profiles_resources.yml
  with_items: "{{ item_cloud.profiles|default([]) }}"
  loop_control:
    loop_var: item_profile
- include: create_per_cloud_resources.yml
